enforce usage of HTTPS for deployed GCloud version

return HTTP header `Strict-Transport-Security: max-age=31536000; includeSubDomains`
references:
* https://cloud.google.com/appengine/docs/standard/python/how-requests-are-handled#http_strict_transport_security
* https://cloud.google.com/appengine/docs/standard/python/config/appref#handlers_http_headers

Solution seems not to work. also, there is this:
```bash
"The signing key's size is 376 bits which is not secure enough for the HS512 algorithm. The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS512 MUST have a size >= 512 bits (the key size must be greater than or equal to the hash output size). Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS512)' method to create a key guaranteed to be secure enough for HS512. See https://tools.ietf.org/html/rfc7518#section-3.2 for more information."
```

load balancer configured. done.